<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Depseudonymisierung</title>
    <script type="module" th:src="@{/js/depseudonymization.js}"></script>
</head>

<body>
    <div id="root">

        <h1>Patienten depseudonymisieren</h1>

        <h2>Pseudonym hinzufügen</h2>
        <form id="pseudonym-form">
            <label for="pseudonym-input">Pseudonym:</label><br>
            <input type="text" id="pseudonym-input"><br>

            <input type="button" id="add-pseudonym-button" value="Hinzufügen">
            <p id="idat-error" style="color: red;"></p>
        </form>

        <div>
            <h2>Pseudonyme:</h2>
            <ul id="pseudonym-list"></ul>
        </div>

        <button type="submit" id="depseudonymize-button">Depseudonymisieren</button>

        <p id="server-error" style="color: red;"></p>
    </div>
</body>

<script type="text/javascript" th:inline="javascript">
    const contextPath = /*[[${@environment.getProperty('server.servlet.context-path')}]]*/ '/';
    let requestPath = /*[[${@environment.getProperty('pseudonym-handler.request-path')}]]*/ '/';
    requestPath ??= "";
</script>

</html>
