<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pseudonymisierungs-Service</title>
    <script type="text/javascript" th:src="@{/js/pseudonymizationService.js}"></script>
    <script type="text/javascript" th:src="@{/js/sendPatients.js}"></script>
</head>

<body>
    <div id="root">

        <h1>Patienten Senden</h1>

        <h2>Erstelle einen Patienten</h2>
        <form id="patient-form">
            <label for="key-input">Key:</label><br>
            <input type="number" id="key-input"><br>

            <label for="firstname-input">Vorname:</label><br>
            <input type="text" id="firstname-input"><br>

            <label for="lastname-input">Nachname:</label><br>
            <input id="lastname-input" type="text"/><br>

            <label for="birthday-input">Geburtstag:</label><br>
            <input id="birthday-input" type="date"><br>

            <input type="button" id="add-patient" value="Hinzufügen">
            <p id="idat-error" style="color: red;"></p>
        </form>

        <div>
            <h2>Patienten:</h2>
            <ul id="patient-list"></ul>
        </div>

        <button type="submit" id="pseudonym-button">store all</button>

        <p id="server-error" style="color: red;"></p>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">
    const contextPath = /*[[${@environment.getProperty('server.servlet.context-path')}]]*/ '/';
    const requestPath = /*[[${@environment.getProperty('pseudonym-handler.request-path')}]]*/ '/';
</script>

</html>
