<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>mainzelhandler</id>
			<repositories>
				<repository>
					<id>mainzelhandler</id>
					<url>https://imigitlab.uni-muenster.de/api/v4/projects/236/packages/maven</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>mainzelhandler</activeProfile>
	</activeProfiles>

	<servers>
		<server>
			<id>mainzelhandler</id>
			<configuration>
				<httpHeaders>
					<property>
						<name>Private-Token</name>
						<value>5hwiew53GxuqgtEDhNxy</value>
					</property>
				</httpHeaders>
			</configuration>
		</server>
	</servers>

</settings>