<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pseudonymizer</title>
    <script type="text/javascript" th:src="@{/js/pseudonymization.js}"></script>
    <script type="text/javascript" th:src="@{/js/jQuery/jquery-2.1.4.min.js}"></script>
</head>
<body>
<div>
    <label for="firstname">Firstname</label>
    <input id="firstname" type="text"/>
</div>
<div>
    <label for="lastname">Lastname</label>
    <input id="lastname" type="text"/>
</div>
<div>
    <label for="birthday">Birthday</label>
    <input id="birthday" type="date">
</div>
<div>
    <button onclick="execute()">Pseudonymize</button>
</div>
</body>
<!--/* The javascript block is processed by thymeleaf to replace the context path variable. */-->
<!--/* That's why we have the th:inline attribute and the ugly CDATA block there. */-->
<!--/* The expression /*[[foo]]*/ makes thymeleaf process 'foo', so here we evaluate @{/} which points to the root context path (eg. '/') */-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const contextPath = /*[[@{/}]]*/ '/';

    function execute() {
        let firstname = document.getElementById('firstname').value;
        let lastname = document.getElementById('lastname').value;
        let birthday = document.getElementById('birthday').value;
        // execute via pseudonymization.js
        let pseudonym = PseudonymizationService.getPseudonym(firstname, lastname, birthday);
        // For now we just alert the result
        alert(pseudonym);
    }
/*]]>*/
</script>
</html>